<% tasks.each do |task|%>
  <li class="media mb-3">
    <div class="media-body">
      <div>
        <a><%= current_user.name %></a>
      </div>
      <div>
        <p><%= task.content%></p>
      </div>
    </div>
  </li>
<% end %>
<%= paginate microposts %>