<% tasks.each do |task|%>
  <li class="media mb-3">
    <div class="media-body">
      <div>
        <%= link_to tasklist.user.name, user_path(tasklist.user)%> <span class="text-muted">posted at <%=tasklist.created_at %></spam>
      </div>
      <div>
        <p><%= task.content%></p>
      </div>
    </div>
  </li>
<% end %>
<%= paginate microposts %>